@if $use-alerts == true {

/*------------------------------------*\
    $ALERTS
\*------------------------------------*/
$alert-types: success, danger, error, info;

@each $alert-type in $alert-types {
  .alert--#{$alert-type} {
    @extend %alert;
  }
}

.alert--success {
  color: $clr-success;
  border-color: $clr-success-ltr;
}

.alert--danger,
.alert--error {
  color: $clr-danger;
  border-color: $clr-danger-ltr;
}

.alert--info {
  color: $clr-info;
  border-color: $clr-info-ltr;
}

}//endif
