/*------------------------------------*\
    $BUTTONS
\*------------------------------------*/
button { @extend %link-transition;}

%btn {
  @extend %btn !optional;
  @extend %link-transition;
  color: $clr-ntrl-min;

  &[disabled],
  &:disabled {

    &,
    &:hover,
    &:focus,
    &:active {

    }
  }
}

.btn--primary {
  @extend %btn;
  background-color: $clr-primary;

  &:hover,
  &:focus { background-color: $clr-primary-lt;}

  &:active { background-color: $clr-primary-dk;}
}
