/*------------------------------------*\
    $FORMS
\*------------------------------------*/
/*input:valid, textarea:valid {}
input:invalid, textarea:invalid {}*/
@mixin placeholder() {
  color: $base-ui-color;
}

::-webkit-input-placeholder { @include placeholder();}
:-moz-placeholder { @include placeholder();}
:-o-placeholder { @include placeholder();}
:-ms-placeholder { @include placeholder();}

label {
  cursor: pointer;
}

textarea {
  resize: vertical;
}


button, input, select, textarea {
  vertical-align: baseline;
}

input, textarea {
	@include px-and-rem(margin-bottom, 1);
	padding: .25em;
	border: 1px solid $base-ui-color;
}

input[type="checkbox"],
input[type="radio"] {
  margin-bottom: 0;
}





/*------------------------------------*\
    $CUSTOM RADIOS & CHECKBOXES
\*------------------------------------*/
.radio-custom:before,
.checkbox-custom:before { margin-bottom: .5em;}

/* .icon-check-empty */
.radio-custom:before { content: "\e010";}
.checkbox-custom:before { content: "\e000";}

/* .icon-check */
input:checked + label {
  & > .radio-custom:before { content: "\e011";}
}
input:checked + label {
  & > .checkbox-custom:before { content: "\e001";}
}
