/*------------------------------------*\
    $LAYOUT
\*------------------------------------*/
.wrap {
	max-width: 1280px;
	margin: 0 auto;
	@include px-and-rem(padding-left, 1);
	@include px-and-rem(padding-right, 1);
}





/*------------------------------------*\
    $MODIFIERS
\*------------------------------------*/
/*
 * Display level modifiers
 */
.display--block {
  display: block;
}

input.display--block,
textarea.display--block,
button.display--block {
  width: 100%;
}

.display--iblock { display: inline-block;}

.display--table { display: table;}

.display--itable {	display: inline-table;}

.display--table,
.display--itable {
  height: 100%;
}

.display--table-full {
  @extend .display--table;
  width: 100%;
}

.display--table__inner {
  display: table-cell;
  vertical-align: middle;
}


/**
 * Add/remove floats
 */
.float--right   { float:right;}
.float--left    { float:left;}
.float--none    { float:none;}


/**
 * Add/remove margins
 */
.push           { margin:       $base-spacing-unit;}
.push--top      { margin-top:   $base-spacing-unit;}
.push--right    { margin-right: $base-spacing-unit;}
.push--bottom   { margin-bottom:$base-spacing-unit;}
.push--left     { margin-left:  $base-spacing-unit;}
.push--ends     { margin-top:   $base-spacing-unit; margin-bottom:$base-spacing-unit;}
.push--sides    { margin-right: $base-spacing-unit; margin-left:  $base-spacing-unit;}

.push-half          { margin:       $half-spacing-unit;}
.push-half--top     { margin-top:   $half-spacing-unit;}
.push-half--right   { margin-right: $half-spacing-unit;}
.push-half--bottom  { margin-bottom:$half-spacing-unit;}
.push-half--left    { margin-left:  $half-spacing-unit;}
.push-half--ends    { margin-top:   $half-spacing-unit; margin-bottom:$half-spacing-unit;}
.push-half--sides   { margin-right: $half-spacing-unit; margin-left:  $half-spacing-unit;}

.flush          { margin:       0;}
.flush--top     { margin-top:   0;}
.flush--right   { margin-right: 0;}
.flush--bottom  { margin-bottom:0;}
.flush--left    { margin-left:  0;}
.flush--ends    { margin-top:   0; margin-bottom:0;}
.flush--sides   { margin-right: 0; margin-left:  0;}


/**
 * Add/remove paddings
 */
.soft           { padding:       $base-spacing-unit;}
.soft--top      { padding-top:   $base-spacing-unit;}
.soft--right    { padding-right: $base-spacing-unit;}
.soft--bottom   { padding-bottom:$base-spacing-unit;}
.soft--left     { padding-left:  $base-spacing-unit;}
.soft--ends     { padding-top:   $base-spacing-unit; padding-bottom:$base-spacing-unit;}
.soft--sides    { padding-right: $base-spacing-unit; padding-left:  $base-spacing-unit;}

.soft-half           { padding:       $half-spacing-unit;}
.soft-half--top      { padding-top:   $half-spacing-unit;}
.soft-half--right    { padding-right: $half-spacing-unit;}
.soft-half--bottom   { padding-bottom:$half-spacing-unit;}
.soft-half--left     { padding-left:  $half-spacing-unit;}
.soft-half--ends     { padding-top:   $half-spacing-unit; padding-bottom:$half-spacing-unit;}
.soft-half--sides    { padding-right: $half-spacing-unit; padding-left:  $half-spacing-unit;}

.hard           { padding:       0;}
.hard--top      { padding-top:   0;}
.hard--right    { padding-right: 0;}
.hard--bottom   { padding-bottom:0;}
.hard--left     { padding-left:  0;}
.hard--ends     { padding-top:   0; padding-bottom:0;}
.hard--sides    { padding-right: 0; padding-left:  0;}
