/*------------------------------------*\
    $LINKS
\*------------------------------------*/
a {
	color: $clr-primary;
	text-decoration: none;
	@include transition(all 100ms ease-in-out);
	outline: 0;

  &:visited {}

  &:hover,
  &:focus {
    color: $clr-primary-ltr;
  }

  &:active {
    color: $clr-primary-dk;
    @include transition(all 0);
  }
}
