/*------------------------------------*\
    $NAVIGATION
\*------------------------------------*/
.menu {
	list-style: none;
	margin-left: 0;
	padding-left: 0;
}

.menu-item {
	position: relative;
	display: inline;
}

.menu-item > a { display: inline-block;}

.sub-menu {
	position: absolute;
	display: none;
	z-index: 100;
}

.menu-primary,
.menu {	background-color: #222;}

.menu-primary .menu-item a {
	display: block;
	color: #ddd;
	padding: .5em 1em;
	border-top: 1px solid hsla(0, 0%, 100%, .02);
	border-bottom: 1px solid hsla(0, 0%, 0%, .2);
}

.menu-primary .menu-item a:hover { background-color: $clr-alpha;}

.menu-primary .sub-menu { position: relative;}

.menu-primary .sub-menu a {	padding-left: 2em;}

.menu-primary .sub-menu .sub-menu a {	padding-left: 4em;}

.menu-item a:hover + .sub-menu,
.sub-menu:hover {	display: block;}

@media all and (min-width: 800px) {
	.menu-primary .menu-item,
	.menu-primary .menu-item a { display: inline-block;}

	.menu-primary .sub-menu {
		position: absolute;
		border-right: 1px solid hsla(0, 0%, 0%, .2);
		 border-left: 1px solid hsla(0, 0%, 0%, .2);
	}

	.menu-primary .sub-menu .sub-menu { top: 0; left: 100%;}

	.menu-primary .sub-menu a,
	.menu-primary .sub-menu .sub-menu a {
		min-width: 225px;
		padding-left: 1em;
		white-space: nowrap;
	}
}
