/*------------------------------------*\
    $NAVIGATION
\*------------------------------------*/
.menu {
  @extend %list--reset;
}

.menu-item {
	position: relative;
	display: inline-block;

  @include media-query(palm) {
    display: block;
  }
}

.menu-item a {
	display: block;
	color: $clr-primary;
	padding: .5em 1em;
}

.sub-menu {
	position: absolute;
	display: none;
  background-color: #fff;
  @include px-and-rem(padding-top, $base-spacing-unit * .5);
  @include px-and-rem(padding-bottom, $base-spacing-unit * .5);
  border: 1px solid $base-ui-color;
	z-index: 100;

  @include media-query(palm) {
    position: relative;
    border: 0;
  }
}

.sub-menu a {
  padding-left: 2em;

  @include media-query(lap-and-up) {
		min-width: 225px;
		padding-left: 1em;
		white-space: nowrap;
  }
}

.sub-menu .sub-menu a {
  @include media-query(palm) {
    padding-left: 4em;
  }
}

.sub-menu .sub-menu {
  top: 0;
  @include px-and-rem(top, -$base-spacing-unit * .75);
  left: 100%;

  @include media-query(palm) {
    top: auto;
    left: auto;
  }
}

.menu-item a:hover + .sub-menu,
.sub-menu:hover {	display: block;}
