@if $use-alerts == true {

/*------------------------------------*\
    $ALERTS
\*------------------------------------*/
.alert {
	background-color: $clr-warning-ltst;
	color: $clr-warning;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	margin-bottom: 18px;
	padding: $base-spacing-unit * .5;
	border: 1px solid $clr-warning-ltr;

  & a {
    color: inherit;
    border-bottom-width: 1px;
    border-bottom-style: dotted;
  }

  & a:hover {
    border-bottom-style: solid;
  }

  & p:last-child,
  & ul:last-child {
    margin-bottom: 0;
  }

  & .close {
	position: relative;
	top: -2px;
	right: .25 * $base-spacing-unit;
	line-height: 1;
  }
}

  .alert__heading { color: inherit;}

.close {
	display: inline-block;
	float: right;
	background: transparent;
	font-size: 1em;
	font-weight: bold;
	line-height: 1;
	color: #bbb;
	color: hsla(0, 0%, 0%, .2);
	text-align: center;
	text-shadow: 0 1px 0 $clr-ntrl-min;
	margin-left: .5em;
	padding: 0;
	cursor: pointer;
	border: 0;
}





/*------------------------------------*\
    $MODIFIERS
\*------------------------------------*/
.alert--success {
	color: $clr-success;
	background-color: $clr-success-ltst;
	border-color: $clr-success-ltr;
}

.alert--danger,
.alert--error {
	color: $clr-danger;
	background-color: $clr-danger-ltst;
	border-color: $clr-danger-ltr;
}

.alert--info {
	color: $clr-info;
	background-color: $clr-info-ltst;
	border-color: $clr-info-ltr;
}

}//endif
