@if $use-alerts == true {

/*------------------------------------*\
    $ALERTS
\*------------------------------------*/
.alert {
  @include px-and-rem(margin-bottom, $base-spacing-unit);
  @include px-and-rem(padding, $base-spacing-unit);
	border: 1px solid $clr-primary;

  & a {
    border-bottom-width: 1px;
    border-bottom-style: dotted;

    &:hover {
      border-bottom-style: solid;
    }

    &,
    &:hover,
    &:active {
      color: inherit;
    }
  }

  & p:last-child,
  & ul:last-child {
    margin-bottom: 0;
  }

  & .close {
	position: relative;
	top: -2px;
	right: .25 * $base-spacing-unit;
	line-height: 1;
  }
}

  .alert__heading { color: inherit;}

.close {
	display: inline-block;
	float: right;
	background: transparent;
	font-size: 1em;
	font-weight: bold;
	line-height: 1;
	color: #bbb;
	color: hsla(0, 0%, 0%, .2);
	text-align: center;
	text-shadow: 0 1px 0 $clr-ntrl-min;
	margin-left: .5em;
	padding: 0;
	cursor: pointer;
	border: 0;
}

}//endif
