/*------------------------------------*\
    $FORMS
\*------------------------------------*/
.field, .field__label { position: relative;}

input, textarea {
	@include px-and-rem(margin-bottom, 1);
	padding: .25em;
	border: 1px solid $clr-ntrl-20;
}

input[type="radio"],
input[type="checkbox"] {
	cursor: pointer;
	border: none;
}





@if $use-custom-radios-checkboxes == true {

/*------------------------------------*\
    $CUSTOM RADIOS & CHECKBOXES
\*------------------------------------*/
.radio-custom:before,
.checkbox-custom:before { margin-bottom: .5em;}

/* .icon-check-empty */
.radio-custom:before { content: "\e010";}
.checkbox-custom:before { content: "\e000";}

/* .icon-check */
input:checked + label {
  & > .radio-custom:before { content: "\e011";}
}
input:checked + label {
  & > .checkbox-custom:before { content: "\e001";}
}

}//endif





/*------------------------------------*\
    $AFFIXES
\*------------------------------------*/
@import "forms-affixes";





