/*------------------------------------*\
  $DEFAULTS
\*------------------------------------*/
/**
 * inuit.css’ default variables. Redefine these in your `_vars.scss` file (found
 * in the inuit.css-web-template) to override them.
 */





/*------------------------------------*\
  $BASE
\*------------------------------------*/
/**
 * Base variables. These are included first as they provide a basis for calculations
 * throughout the framework.
 */
$fs-base:  16px!default;
$base-line-height:  24px!default;

/**
 * Base font-family.
 */
$base-font-family:  sans-serif!default;

/**
 * Default colour for objects’ borders etc.
 */
$base-ui-color:   #ccc!default;





/*------------------------------------*\
  $FRAMEWORK
\*------------------------------------*/
/**
 * inuit.css will work these next ones out for use within the framework.
 *
 * Assign our `$base-line-height` to a new spacing var for more transparency.
 */
$base-spacing-unit: $base-line-height / $fs-base!default;
$half-spacing-unit: $base-spacing-unit / 2!default;
$line-height-ratio: $base-line-height / $fs-base!default;






/*------------------------------------*\
  $DEBUG
\*------------------------------------*/
/**
 * Debug mode will visually highlight any potential markup/accessibility quirks
 * in the browser. Set to `true` or `false`.
 */
$debug-mode:    false!default;





/*------------------------------------*\
  $RAILS
\*------------------------------------*/
/**
 * Using Rails? You'll need the font-face mixin to behave differently to correctly
 * load font assets
 */
$use-rails:    false!default;





/*------------------------------------*\
  $BORDER-BOX
\*------------------------------------*/
/**
 * Do you want all elements to adopt `box-sizing:border-box;` as per
 * paulirish.com/2012/box-sizing-border-box-ftw ?
 */
$global-border-box: true!default;





/*------------------------------------*\
  $GRIDS
\*------------------------------------*/
/**
 * Use either a flexbox based grid, an inline-block based grid, or both!
 */
$use-flexbox-grid: true!default;
$use-legacy-grid:  true!default;

/**
 * A unitless value will output rem units with px fallback for gutters,
 * otherwise a unit value will output only that value
 */
$grid-gutter: $base-spacing-unit!default;

$grid-use-fractions: false!default;





/*------------------------------------*\
  $RESPONSIVE
\*------------------------------------*/
/**
 * Responsiveness?
 */
$responsive:    true!default;

/**
 * Responsiveness for widescreen/high resolution desktop monitors and beyond?
 * Note: `$responsive` variable above must be set to true before enabling this.
 */
$responsive-extra:  false!default;

/**
 * Responsive push and pull produce a LOT of code, only turn them on if you
 * definitely need them.
 */
$push:        false!default;
/**
 * Note: `$push` variable above must be set to true before enabling these.
 */
$palm-push:     false!default;
$lap-push:      false!default;
$lap-and-up-push:   false!default;
$portable-push:   false!default;
$desk-push:     false!default;

$pull:        false!default;
/**
 * Note: `$pull` variable above must be set to true before enabling these.
 */
$palm-pull:     false!default;
$lap-pull:      false!default;
$lap-and-up-pull:   false!default;
$portable-pull:   false!default;
$desk-pull:     false!default;

/**
 * Tell inuit.css when breakpoints start.
 */
$lap-start:     481px!default;
$desk-start:    880px!default;
$desk-wide-start:   1280px!default;





/*------------------------------------*\
  $FONT-SIZES
\*------------------------------------*/
/**
 * Font-sizes (in pixels). Refer to relevant sections for their implementations.
 */
$fs-giga:  96px!default; // .fs--giga
$fs-mega:  72px!default; // .fs--mega
$fs-kilo:  48px!default; // .fs--kilo

$fs-h1:    36px!default; // .fs--alpha
$fs-h2:    30px!default; // .fs--beta
$fs-h3:    24px!default; // .fs--gamma
$fs-h4:    20px!default; // .fs--delta
$fs-h5:    16px!default; // .fs--epsilon
$fs-h6:    14px!default; // .fs--zeta

$fs-milli: 12px!default; // .fs--milli
$fs-micro: 10px!default; // .fs--micro
$fs-nano:   8px!default; // .fs--nano





/*------------------------------------*\
  $QUOTES
\*------------------------------------*/
/**
 * English quote marks?
 */
$english-quotes:  true!default;

/**
 * If you want English quotes then please do not edit these; they’re only here
 * because Sass needs them.
 */
$open-quote:  null;
$close-quote:   null;

/**
 * If you need non-English quotes, please alter the following values accordingly:
 */
@if $english-quotes != true{
  $open-quote:  \00AB;
  $close-quote:   \00BB;
}






/*------------------------------------*\
  $BRAND
\*------------------------------------*/
/**
 * Brand stuff
 */
$brand-color:     #4a8ec2!default;
$brand-face:    "Helvetica Neue", sans-serif!default;

/**
 * How big would you like round corners to be by default?
 */
$brand-round:    4px!default;





/*------------------------------------*\
  $COLORS
\*------------------------------------*/
$selection-color: $brand-color!default;





/*------------------------------------*\
  $OBJECTS AND ABSTRACTIONS
\*------------------------------------*/
/**
 * Which objects and abstractions would you like to use?
 */
$use-grids:              false!default;
$use-columns:            false!default;
$use-nav:                false!default;
$use-options:            false!default;
$use-pagination:         false!default;
$use-breadcrumb:         false!default;
$use-media:              false!default;
$use-marginalia:         false!default;
$use-split:              false!default;
$use-link-complex:       false!default;
$use-flyout:             false!default;
$use-arrows:             false!default;
$use-sprite:             false!default;
$use-icon-text:          false!default;
$use-lozenges:           false!default;
$use-rules:              false!default;
$use-stats:              false!default;
$use-greybox:            false!default;

$use-alerts:             false!default;
$use-buttons:            false!default;
$use-ckeditor:           false!default;
$use-form-affixes:       false!default;
$use-icon-as-font:       false!default;
$use-icon-as-inline-svg: false!default;
$use-progress-bars:      false!default;
$use-print:              false!default;
$use-ratio-object:       false!default;
$use-tinymce:            false!default;
$use-vertical-center:    false!default;





