/*------------------------------------*\
    COLOR VARIABLES
\*------------------------------------*/
/**
 * Base colour for text, borders, etc.
 */
$clr-base:   #ccc!default;
$clr-brand:  #4a8ec2!default;

$clr-selection: $clr-brand!default;
