/*------------------------------------*\
		$WRAPS
\*------------------------------------*/
%wrap-margin {
	margin-right: auto;
	margin-left: auto;
}

%wrap-padding {
	@include px-and-rem(padding-left, 1);
	@include px-and-rem(padding-right, 1);
}

%wrap-base {
	@extend %wrap-margin;
	@extend %wrap-padding;
}
.wrap {
	@extend %wrap;
	max-width: 1280px;
}

%wrap_-cf {
	@extend %wrap;
	@extend .cf;
}
