/*------------------------------------*\
    $PULL
\*------------------------------------*/
/**
 * Pull classes, to move grid items over to the right by certain amounts.
 */

@mixin pull-setup($namespace: "") {

	/**
	 * Whole
	 */
	.g_-pull-#{$namespace}1#{$grid-unit-delimiter}1   { right:100%; }


	/**
	 * Halves
	 */
	.g_-pull-#{$namespace}1#{$grid-unit-delimiter}2   { right:50%; }


	/**
	 * Thirds
	 */
	.g_-pull-#{$namespace}1#{$grid-unit-delimiter}3   { right:33.333%; }
	.g_-pull-#{$namespace}2#{$grid-unit-delimiter}3   { right:66.666%; }


	/**
	 * Quarters
	 */
	.g_-pull-#{$namespace}1#{$grid-unit-delimiter}4   { right:25%; }
	.g_-pull-#{$namespace}2#{$grid-unit-delimiter}4   { @extend .g_-pull-#{$namespace}1#{$grid-unit-delimiter}2; }
	.g_-pull-#{$namespace}3#{$grid-unit-delimiter}4   { right:75%; }


	/**
	 * Fifths
	 */
	.g_-pull-#{$namespace}1#{$grid-unit-delimiter}5   { right:20%; }
	.g_-pull-#{$namespace}2#{$grid-unit-delimiter}5   { right:40%; }
	.g_-pull-#{$namespace}3#{$grid-unit-delimiter}5   { right:60%; }
	.g_-pull-#{$namespace}4#{$grid-unit-delimiter}5   { right:80%; }


	/**
	 * Sixths
	 */
	.g_-pull-#{$namespace}1#{$grid-unit-delimiter}6   { right:16.666%; }
	.g_-pull-#{$namespace}2#{$grid-unit-delimiter}6   { @extend .g_-pull-#{$namespace}1#{$grid-unit-delimiter}3; }
	.g_-pull-#{$namespace}3#{$grid-unit-delimiter}6   { @extend .g_-pull-#{$namespace}1#{$grid-unit-delimiter}2; }
	.g_-pull-#{$namespace}4#{$grid-unit-delimiter}6   { @extend .g_-pull-#{$namespace}2#{$grid-unit-delimiter}3; }
	.g_-pull-#{$namespace}5#{$grid-unit-delimiter}6   { right:83.333%; }


	/**
	 * Eighths
	 */
	.g_-pull-#{$namespace}1#{$grid-unit-delimiter}8   { right:12.5%; }
	.g_-pull-#{$namespace}2#{$grid-unit-delimiter}8   { @extend .g_-pull-#{$namespace}1#{$grid-unit-delimiter}4; }
	.g_-pull-#{$namespace}3#{$grid-unit-delimiter}8   { right:37.5%; }
	.g_-pull-#{$namespace}4#{$grid-unit-delimiter}8   { @extend .g_-pull-#{$namespace}1#{$grid-unit-delimiter}2; }
	.g_-pull-#{$namespace}5#{$grid-unit-delimiter}8   { right:62.5%; }
	.g_-pull-#{$namespace}6#{$grid-unit-delimiter}8   { @extend .g_-pull-#{$namespace}3#{$grid-unit-delimiter}4; }
	.g_-pull-#{$namespace}7#{$grid-unit-delimiter}8   { right:87.5%; }


	/**
	 * Tenths
	 */
	.g_-pull-#{$namespace}1#{$grid-unit-delimiter}10  { right:10%; }
	.g_-pull-#{$namespace}2#{$grid-unit-delimiter}10  { @extend .g_-pull-#{$namespace}1#{$grid-unit-delimiter}5; }
	.g_-pull-#{$namespace}3#{$grid-unit-delimiter}10  { right:30%; }
	.g_-pull-#{$namespace}4#{$grid-unit-delimiter}10  { @extend .g_-pull-#{$namespace}2#{$grid-unit-delimiter}5; }
	.g_-pull-#{$namespace}5#{$grid-unit-delimiter}10  { @extend .g_-pull-#{$namespace}1#{$grid-unit-delimiter}2; }
	.g_-pull-#{$namespace}6#{$grid-unit-delimiter}10  { @extend .g_-pull-#{$namespace}3#{$grid-unit-delimiter}5; }
	.g_-pull-#{$namespace}7#{$grid-unit-delimiter}10  { right:70%; }
	.g_-pull-#{$namespace}8#{$grid-unit-delimiter}10  { @extend .g_-pull-#{$namespace}4#{$grid-unit-delimiter}5; }
	.g_-pull-#{$namespace}9#{$grid-unit-delimiter}10  { right:90%; }


	/**
	 * Twelfths
	 */
	.g_-pull-#{$namespace}1#{$grid-unit-delimiter}12  { right:8.333%; }
	.g_-pull-#{$namespace}2#{$grid-unit-delimiter}12  { @extend .g_-pull-#{$namespace}1#{$grid-unit-delimiter}6; }
	.g_-pull-#{$namespace}3#{$grid-unit-delimiter}12  { @extend .g_-pull-#{$namespace}1#{$grid-unit-delimiter}4; }
	.g_-pull-#{$namespace}4#{$grid-unit-delimiter}12  { @extend .g_-pull-#{$namespace}1#{$grid-unit-delimiter}3; }
	.g_-pull-#{$namespace}5#{$grid-unit-delimiter}12  { right:41.666% }
	.g_-pull-#{$namespace}6#{$grid-unit-delimiter}12  { @extend .g_-pull-#{$namespace}1#{$grid-unit-delimiter}2; }
	.g_-pull-#{$namespace}7#{$grid-unit-delimiter}12  { right:58.333%; }
	.g_-pull-#{$namespace}8#{$grid-unit-delimiter}12  { @extend .g_-pull-#{$namespace}2#{$grid-unit-delimiter}3; }
	.g_-pull-#{$namespace}9#{$grid-unit-delimiter}12  { @extend .g_-pull-#{$namespace}3#{$grid-unit-delimiter}4; }
	.g_-pull-#{$namespace}10#{$grid-unit-delimiter}12 { @extend .g_-pull-#{$namespace}5#{$grid-unit-delimiter}6; }
	.g_-pull-#{$namespace}11#{$grid-unit-delimiter}12 { right:91.666%; }
}

@if $pull == true{

/**
 * Not a particularly great selector, but the DRYest way to do things.
 */
[class*="g_-pull-"]{ position:relative; }

@include pull-setup();

@if $palm-pull == true{
	@include media-query(palm){
		@include pull-setup("palm-");
	}
}

@if $lap-pull == true{
	@include media-query(lap){
		@include pull-setup("lap-");
	}
}

@if $lap-and-up-pull == true{
	@include media-query(lap-and-up){
		@include pull-setup("lap-and-up-");
	}
}

@if $portable-pull == true{
	@include media-query(portable){
		@include pull-setup("portable-");
	}
}

@if $desk-pull == true{
	@include media-query(desk){
		@include pull-setup("desk-");
	}
}

}//endif

