/*------------------------------------*\
    $FORMS
\*------------------------------------*/
/*input:valid, textarea:valid {}
input:invalid, textarea:invalid {}*/
@mixin placeholder() {
  color: $base-ui-color;
}

::-webkit-input-placeholder { @include placeholder();}
:-moz-placeholder { @include placeholder();}
:-o-placeholder { @include placeholder();}
:-ms-placeholder { @include placeholder();}

label {
  cursor: pointer;
}

textarea {
  resize: vertical;
}


button, input, select, textarea {
  vertical-align: baseline;
}

input, textarea {
	@include px-and-rem(margin-bottom, 1);
  height: auto;         // don't apply heights set to inputs
  line-height: normal;  // all browsers must use FF's UA !important for consistency
	padding: .25em;
	border: 1px solid $base-ui-color;
}

input[type="checkbox"],
input[type="radio"] {
  margin-bottom: 0;
}





/*------------------------------------*\
    $CUSTOM RADIOS & CHECKBOXES
\*------------------------------------*/
/**
 * $use-icons must be set to true for custom radios and checkboxes
 */
.radio_-custom,
.checkbox_-custom {
  @extend %icon;

  &:before {
    line-height: 1;
  }
}

/* .icon-check-empty */
.radio_-custom:before    { content: "\e010";}
.checkbox_-custom:before { content: "\e000";}

/* .icon-check */
input:checked + label {
  & > .radio_-custom:before { content: "\e011";}
  & > .checkbox_-custom:before { content: "\e001";}
}
