/*------------------------------------*\
    $FORMS
\*------------------------------------*/
/*input:valid, textarea:valid {}
input:invalid, textarea:invalid {}*/
@mixin placeholder() {
  color: $base-ui-color;
}

::-webkit-input-placeholder { @include placeholder();}
:-moz-placeholder { @include placeholder();}
:-o-placeholder { @include placeholder();}
:-ms-placeholder { @include placeholder();}

label { cursor: pointer;}

textarea { resize: vertical;}

button, input, select, textarea { vertical-align: baseline;}

input, textarea {
  height: auto;         // don't apply heights set to inputs
  line-height: normal;  // all browsers must use FF's UA !important for consistency
	@include px-and-rem(margin-bottom, 1);
	padding: .5em;
	border: 1px solid $base-ui-color;
}

input[type="checkbox"],
input[type="radio"] { margin-bottom: 0;}





@if $use-icons == true {

/*------------------------------------*\
    $CUSTOM RADIOS & CHECKBOXES
\*------------------------------------*/
/**
 * $use-icons must be set to true for custom radios and checkboxes
 */
%custom-radio-false {
  @extend %icon;

  &:before {
		position: relative;
		content: "\e060";
    line-height: 1;
		z-index: 10;
  }
}

.radio_-icon,
.checkbox_-icon { @extend %custom-radio-false;}

input:checked + label {
  & > .radio_-icon {
		&:before { content: "\e061";}
	}

	& > .checkbox_-icon {
		&:before { content: "\e070";}
	}
}

} // endif
