/*------------------------------------*\
    $LINKS
\*------------------------------------*/
%link-transition {
	@include transition(all 150ms ease-in-out);

	&:active { @include transition(all 0);}
}

a {
	@extend %link-transition;
	color: $clr-primary;
	text-decoration: none;
	outline: 0;

  &:visited {}

  &:hover,
  &:focus { color: $clr-primary-ltr;}

  &:active { color: $clr-primary-dk;}
}
