/*------------------------------------*\
    $LINKS
\*------------------------------------*/
a {
	color: $clr-primary;
	text-decoration: none;
	outline: 0;

  &:visited {}

  &:hover,
  &:focus {
    color: $clr-primary-ltr;
  }

  &:active {
    color: $clr-primary-dk;
  }

	&,
	&:before,
	&:after {
		@include transition(all 150ms ease-in-out);
	}

	&:active {
		color: $clr-primary;

		&,
		&:before,
		&:after {
			@include transition(all 0);
		}
	}
}
