/*------------------------------------*\
    $NAVIGATION
\*------------------------------------*/
/**
 * placeholder for button that toggles nav
 */
%menu-toggle {
  display: none;

	// prevent firefox from showing a dotted border
	&:focus {
		outline:none;
	}

  @include media-query(palm) {
    display: inline-block;
  }
}

/**
 * placeholder for menu container used to hide menus on mobile / tablet
 */
%menu-container {
  @include media-query(palm) {
    overflow: hidden;
  }
}

%menu {
  @extend %list_-reset;

  /**
   * animate menu for mobiles and tablets
   */
  @include media-query(palm) {
    @include transition(all 250ms ease-in-out);
    @include transform(translate3d(0,0,0));

    %menu-container > & {
      max-height: 0;
    }

    %menu-container.is-open > & {
      max-height: 50em;
    }
  }
}

.menu_-primary {
	@extend %menu;
}

  .menu__item {
    position: relative;
    display: inline-block;

    @include media-query(palm) {
      display: block;
    }

    & a {
      display: block;
      color: $clr-primary;
			line-height: 3;
      padding: 0 1em;

      &:hover,
      &:focus {

      }

      &:active {

      }
    }
  }

  .menu__item_-current,
  .menu__item_-current-parent {
    & > a {
      &,
      &:hover,
			&:focus,
      &:active {
        cursor: default;
      }
    }
  }

    .menu__sub {
			@extend %list_-reset;
      position: absolute;
      background-color: #fff;
      border: 1px solid $base-ui-color;
			opacity: 0;
      z-index: -1;
			@include transition(
				z-index 150ms linear 300ms,
				opacity 150ms ease-in-out
			);

			.ie8 & {
				display: none;
			}

			@include media-query(palm) {
				display: block;
				position: relative;
				margin-left: 1.5em;
				border: 0;
				opacity: 1;
				z-index: 0;
			}

      .menu__item a:hover + &,
			.menu__item a:focus + &,
      &:hover,
			&:focus {
				opacity: 1;
				z-index: 100;
				@include transition(all 150ms ease-in-out);

				.ie8 & {
					display: block;
				}
      }

      & a {
        min-width: 225px;
        white-space: nowrap;

        @include media-query(palm) {
          white-space: normal;
          min-width: auto;
					padding: 0 1.5em;
        }
      }
    }

      .menu__sub .menu__sub {
        top: 0;
        left: 100%;

        @include media-query(palm) {
          top: auto;
          left: auto;
        }
      }
