/*------------------------------------*\
    $MARGIN AND PADDING
\*------------------------------------*/
/**
 * these mixins shouldn't need to be used directly except for in the placeholders
 * defined in _layouts.scss
 *
 * prefer extending those placeholders from your selectors over including these mixins
 *
 * this will reduce duplication of the same properties over your stylesheets, while
 * allowing you to reuse consistent spacing across your stylesheets
 *
 * situations on when to rather use an include is if you need to override margin or
 * padding in a media query when the placeholder has been extended. Due to source
 * order, you will not always be able to override the placeholders.
 * Including the relevant mixin will then allow you to override the properties in
 * your media query.
 */
$mp-small: .5;





/*------------------------------------*\
    $MARGIN
\*------------------------------------*/
@mixin push           { @include px-and-rem(margin,        $base-spacing-unit);}
@mixin push--top      { @include px-and-rem(margin-top,    $base-spacing-unit);}
@mixin push--right    { @include px-and-rem(margin-right,  $base-spacing-unit);}
@mixin push--bottom   { @include px-and-rem(margin-bottom, $base-spacing-unit);}
@mixin push--left     { @include px-and-rem(margin-left,   $base-spacing-unit);}
@mixin push--ends     { @include px-and-rem(margin-top,    $base-spacing-unit); @include px-and-rem(margin-bottom, $base-spacing-unit);}
@mixin push--sides    { @include px-and-rem(margin-right,  $base-spacing-unit); @include px-and-rem(margin-left,  $base-spacing-unit);}

@mixin push--small          { @include px-and-rem(margin,        $base-spacing-unit - $mp-small);}
@mixin push--small--top     { @include px-and-rem(margin-top,    $base-spacing-unit - $mp-small);}
@mixin push--small--right   { @include px-and-rem(margin-right,  $base-spacing-unit - $mp-small);}
@mixin push--small--bottom  { @include px-and-rem(margin-bottom, $base-spacing-unit - $mp-small);}
@mixin push--small--left    { @include px-and-rem(margin-left,   $base-spacing-unit - $mp-small);}
@mixin push--small--ends    { @include px-and-rem(margin-top,    $base-spacing-unit - $mp-small); @include px-and-rem(margin-bottom, $base-spacing-unit - $mp-small);}
@mixin push--small--sides   { @include px-and-rem(margin-right,  $base-spacing-unit - $mp-small); @include px-and-rem(margin-left, $base-spacing-unit - $mp-small);}

@mixin flush          { margin:       0;}
@mixin flush--top     { margin-top:   0;}
@mixin flush--right   { margin-right: 0;}
@mixin flush--bottom  { margin-bottom:0;}
@mixin flush--left    { margin-left:  0;}
@mixin flush--ends    { margin-top:   0; margin-bottom:0;}
@mixin flush--sides   { margin-right: 0; margin-left:  0;}






/*------------------------------------*\
    $PADDING
\*------------------------------------*/
@mixin soft           { @include px-and-rem(padding,        $base-spacing-unit);}
@mixin soft--top      { @include px-and-rem(padding-top,    $base-spacing-unit);}
@mixin soft--right    { @include px-and-rem(padding-right,  $base-spacing-unit);}
@mixin soft--bottom   { @include px-and-rem(padding-bottom, $base-spacing-unit);}
@mixin soft--left     { @include px-and-rem(padding-left,   $base-spacing-unit);}
@mixin soft--ends     { @include px-and-rem(padding-top,    $base-spacing-unit); @include px-and-rem(padding-bottom, $base-spacing-unit);}
@mixin soft--sides    { @include px-and-rem(padding-right,  $base-spacing-unit); @include px-and-rem(padding-left,   $base-spacing-unit);}

@mixin soft--small           { @include px-and-rem(padding,        $base-spacing-unit - $mp-small);}
@mixin soft--small--top      { @include px-and-rem(padding-top,    $base-spacing-unit - $mp-small);}
@mixin soft--small--right    { @include px-and-rem(padding-right,  $base-spacing-unit - $mp-small);}
@mixin soft--small--bottom   { @include px-and-rem(padding-bottom, $base-spacing-unit - $mp-small);}
@mixin soft--small--left     { @include px-and-rem(padding-left,   $base-spacing-unit - $mp-small);}
@mixin soft--small--ends     { @include px-and-rem(padding-top,    $base-spacing-unit - $mp-small); @include px-and-rem(padding-bottom, $base-spacing-unit - $mp-small);}
@mixin soft--small--sides    { @include px-and-rem(padding-right,  $base-spacing-unit - $mp-small); @include px-and-rem(padding-left,   $base-spacing-unit - $mp-small);}

@mixin hard           { padding:       0;}
@mixin hard--top      { padding-top:   0;}
@mixin hard--right    { padding-right: 0;}
@mixin hard--bottom   { padding-bottom:0;}
@mixin hard--left     { padding-left:  0;}
@mixin hard--ends     { padding-top:   0; padding-bottom:0;}
@mixin hard--sides    { padding-right: 0; padding-left:  0;}
