
/**
 * CSS arrows!!! But... before you read on, you might want to grab a coffee...
 *
 * This mixin creates a CSS arrow on a given element. We can have the arrow
 * appear in one of 12 locations, thus:
 *
 *     01  02  03
 *  +-----------------_+
 * 12 |          | 04
 *  |          |
 * 11 |          | 05
 *  |          |
 * 10 |          | 06
 *  +-----------------_+
 *     09  08  07
 *
 * You pass this position in along with a desired arrow color and optional
 * border color, for example:
 *
 * `@include arrow(top, left, red)`
 *
 * for just a single, red arrow, or:
 *
 * `@include arrow(bottom, center, red, black)`
 *
 * which will create a red triangle with a black border which sits at the bottom
 * center of the element. Call the mixin thus:
 *
   .foo{
     background-color:#BADA55;
     border:1px solid #ACE;
     @include arrow(top, left, #BADA55, #ACE);
   }
 *
 */
@mixin arrow($arrow-edge, $arrow-location, $arrow-color, $border-color: $arrow-color){

  @if $arrow-edge == top{

    @extend %arrow_-top;

    &:before{
      border-bottom-color:$border-color!important;
    }

    &:after{
      border-bottom-color:$arrow-color!important;
    }

    @if $arrow-location == left{
      @extend %arrow_-left;
    }

    @if $arrow-location == center{
      @extend %arrow_-center;
    }

    @if $arrow-location == right{
      @extend %arrow_-right;
    }

  }

  @if $arrow-edge == right{

    @extend %arrow_-far;

    &:before{
      border-left-color:$border-color!important;
    }

    &:after{
      border-left-color:$arrow-color!important;
    }

    @if $arrow-location == top{
      @extend %arrow_-upper;
    }

    @if $arrow-location == center{
      @extend %arrow_-middle;
    }

    @if $arrow-location == bottom{
      @extend %arrow_-lower;
    }

  }

  @if $arrow-edge == bottom{

    @extend %arrow_-bottom;

    &:before{
      border-top-color:$border-color!important;
    }

    &:after{
      border-top-color:$arrow-color!important;
    }

    @if $arrow-location == left{
      @extend %arrow_-left;
    }

    @if $arrow-location == center{
      @extend %arrow_-center;
    }

    @if $arrow-location == right{
      @extend %arrow_-right;
    }

  }

  @if $arrow-edge == left{

    @extend %arrow_-near;

    &:before{
      border-right-color:$border-color!important;
    }

    &:after{
      border-right-color:$arrow-color!important;
    }

    @if $arrow-location == top{
      @extend %arrow_-upper;
    }

    @if $arrow-location == center{
      @extend %arrow_-middle;
    }

    @if $arrow-location == bottom{
      @extend %arrow_-lower;
    }

  }

}
