/*------------------------------------*\
  $HEADINGS
\*------------------------------------*/
/**
 * As per: csswizardry.com/2012/02/pragmatic-practical-font-sizing-in-css
 *
 * When we define a heading we also define a corresponding class to go with it.
 * This allows us to apply, say, `class=u-fs--h1` to a `h3`; a double-stranded
 * heading hierarchy.
 */
h1, .u-fs--h1 { font-size: px-to-rem($fs-h1);}
h2, .u-fs--h2 { font-size: px-to-rem($fs-h2);}
h3, .u-fs--h3 { font-size: px-to-rem($fs-h3);}
h4, .u-fs--h4 { font-size: px-to-rem($fs-h4);}
h5, .u-fs--h5 { font-size: px-to-rem($fs-h5);}
h6, .u-fs--h6 { font-size: px-to-rem($fs-h6);}





/**
 * A series of classes for setting massive type; for use in heroes, mastheads,
 * promos, etc.
 */
.u-fs--giga { font-size: px-to-rem($fs-giga);}
.u-fs--mega { font-size: px-to-rem($fs-mega);}
.u-fs--kilo { font-size: px-to-rem($fs-kilo);}
