/*------------------------------------*\
    $MAIN
\*------------------------------------*/
html{
    font-size: $base-font-size;
    min-height:100%;
}

html, body, button, input, select, textarea {
    font-family: $font-base-stack;
    color: $base-ui-color;
}

/**
 * FireFox on Android adds gradients to these elements
 * Let's end the tyranny
 */
button, input, select, textarea {
	background-image: none;
}

body {
    background-color: #fff;
    font-size: 1em;
		line-height: $line-height-ratio;
    margin: 0;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 */

::-moz-selection {
    background: $selection-color;
    color: #fff;
    text-shadow: none;
}
::selection {
    background: $selection-color;
    color: #fff;
    text-shadow: none;
}
