/*------------------------------------*\
  $TABLES
\*------------------------------------*/
table { width:100%;}

th, td {
  text-align:left;
  padding: #{$base-spacing-unit / 4}rem;

  @media screen and (min-width:480px){
    padding: #{$base-spacing-unit / 2}rem;
  }
}
