@mixin border-top-radius($val) {
	border-top-left-radius: $val;
	border-top-right-radius: $val;
}

@mixin border-right-radius($val) {
	border-top-right-radius: $val;
	border-bottom-right-radius: $val;
}

@mixin border-bottom-radius($val) {
	border-bottom-left-radius: $val;
	border-bottom-right-radius: $val;
}

@mixin border-left-radius($val) {
	border-top-left-radius: $val;
	border-bottom-left-radius: $val;
}