/*------------------------------------*\
    FONTS
\*------------------------------------*/
/**
 * Base Font Face
 *
 * This font is enabled via custom/base/_fonts.scss
 */
$font-base          : "[font-name]";
$font-base-path     : "../fnt/[font-folder]";
$font-base-filename : "[font-file-name-without-extension]";
$font-base-stack    : $font-base, Arial, sans-serif;

/**
 * Base Font Variations
 */
$font-base-filename-i  : "[italic-font-file-name-without-extension]"; // italic
$font-base-filename-b  : "[bold-font-file-name-without-extension]"; // bold
$font-base-filename-bi : "[bold-italic-font-file-name-without-extension]"; // bold-italic





/**
 * Alternate Font Face
 */
$font-alt          : "[font-name]";
$font-alt-path     : "../fnt/[font-folder]";
$font-alt-filename : "[font-file-name-without-extension]";
$font-alt-stack    : $font-alt, Arial, sans-serif;

/**
 * Base Font Variations
 */
$font-alt-filename-i  : "[italic-font-file-name-without-extension]"; // italic
$font-alt-filename-b  : "[bold-font-file-name-without-extension]"; // bold
$font-alt-filename-bi : "[bold-italic-font-file-name-without-extension]"; // bold-italic
