/*------------------------------------*\
    LINKS
\*------------------------------------*/
a {
  @include u-link-transition;
  @include u-fc--link-states(
    var(--s-clr-primary),
    var(--s-clr-primary-lt),
    var(--s-clr-primary-dk)
  );
  text-decoration: none;

  &,
  &:hover { outline: 0;}

  &:visited {}
}
