/*------------------------------------*\
    LINKS
\*------------------------------------*/
a {
  @include u-link-transition;
  @include u-fc--link-states(
    var(--struct-clr-primary),
    var(--struct-clr-primary-lt),
    var(--struct-clr-primary-dk)
  );
  text-decoration: none;

  @include keyboard-focus-only() {
    outline: 1px dotted;
    outline-color: inherit;
  }
}
