/*------------------------------------*\
    $ALIGNMENT
\*------------------------------------*/
%text_-left   { text-align: left;}
%text_-center { text-align: center;}
%text_-right  { text-align: right;}
