/*------------------------------------*\
    $FONT COLOR MODIFIERS
\*------------------------------------*/
%fc--base { color: $clr-base;}
a%fc--base,
button%fc--base {
  @extend %fc--base;

  &:hover,
  &:focus { color: $clr-base-lt;}

  &:active { color: $clr-base-dk;}
}

%fc--primary { color: $clr-primary;}
a%fc--primary,
button%fc--primary {
  @extend %fc--primary;

  &:hover,
  &:focus { color: $clr-primary-lt;}

  &:active { color: $clr-primary-dk;}
}
