/*------------------------------------*\
    $WYSIWYG CLASSES
\*------------------------------------*/





/*------------------------------------*\
    $TINYMCE
\*------------------------------------*/
@if $use-tinymce {
.align_left    { text-align: left;}
.align_center  { text-align: center;}
.align_right   { text-align: right;}

img.align_left {
  float:left;
  @include px-and-rem(margin-right, 1.5);
  @include px-and-rem(margin-bottom, 1);
}

img.align_right {
  float:right;
  @include px-and-rem(margin-left, 1.5);
  @include px-and-rem(margin-bottom, 1);
}

img.align_center {
  display: block;
  margin: 0 auto;
}
}





/*------------------------------------*\
    $CKEDITOR
\*------------------------------------*/
@if $use-ckeditor {
.align_left    { text-align: left;}
.align_center  { text-align: center;}
.align_right   { text-align: right;}

img.align_left {
  float:left;
  @include px-and-rem(margin-right, 1.5);
  @include px-and-rem(margin-bottom, 1);
}

img.align_right {
  float:right;
  @include px-and-rem(margin-left, 1.5);
  @include px-and-rem(margin-bottom, 1);
}

img.align_center {
  display: block;
  margin: 0 auto;
}
}


