@if $use-wordpress == true {

/*------------------------------------*\
    $HELPERS
\*------------------------------------*/
/* Alignment (post images) */
.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: $base-spacing-unit;
}
.alignleft {
  display: inline;
  float: left;
  margin-right: $base-spacing-unit;
  margin-bottom: $base-spacing-unit;
}
.alignright {
  display: inline;
  float: right;
  margin-left: $base-spacing-unit;
  margin-bottom: $base-spacing-unit;
}

/* image captions */
.wp-caption { max-width: 100%}
.wp-caption-text {
	@include px-and-rem(margin, .5, 0, 1.5);
	font-style: italic;
	color: $clr-beta;
}

}//endif
