/*------------------------------------*\
    $PUSH
\*------------------------------------*/
/**
 * Push classes, to move grid items over to the right by certain amounts.
 */

@mixin push-setup($namespace: "") {

	/**
	 * Whole
	 */
	.g--push-#{$namespace}1#{$grid-unit-delimiter}1   { left:100%; }


	/**
	 * Halves
	 */
	.g--push-#{$namespace}1#{$grid-unit-delimiter}2   { left:50%; }


	/**
	 * Thirds
	 */
	.g--push-#{$namespace}1#{$grid-unit-delimiter}3   { left:33.333%; }
	.g--push-#{$namespace}2#{$grid-unit-delimiter}3   { left:66.666%; }


	/**
	 * Quarters
	 */
	.g--push-#{$namespace}1#{$grid-unit-delimiter}4   { left:25%; }
	.g--push-#{$namespace}2#{$grid-unit-delimiter}4   { @extend .g--push-#{$namespace}1#{$grid-unit-delimiter}2; }
	.g--push-#{$namespace}3#{$grid-unit-delimiter}4   { left:75%; }


	/**
	 * Fifths
	 */
	.g--push-#{$namespace}1#{$grid-unit-delimiter}5   { left:20%; }
	.g--push-#{$namespace}2#{$grid-unit-delimiter}5   { left:40%; }
	.g--push-#{$namespace}3#{$grid-unit-delimiter}5   { left:60%; }
	.g--push-#{$namespace}4#{$grid-unit-delimiter}5   { left:80%; }


	/**
	 * Sixths
	 */
	.g--push-#{$namespace}1#{$grid-unit-delimiter}6   { left:16.666%; }
	.g--push-#{$namespace}2#{$grid-unit-delimiter}6   { @extend .g--push-#{$namespace}1#{$grid-unit-delimiter}3; }
	.g--push-#{$namespace}3#{$grid-unit-delimiter}6   { @extend .g--push-#{$namespace}1#{$grid-unit-delimiter}2; }
	.g--push-#{$namespace}4#{$grid-unit-delimiter}6   { @extend .g--push-#{$namespace}2#{$grid-unit-delimiter}3; }
	.g--push-#{$namespace}5#{$grid-unit-delimiter}6   { left:83.333%; }


	/**
	 * Eighths
	 */
	.g--push-#{$namespace}1#{$grid-unit-delimiter}8   { left:12.5%; }
	.g--push-#{$namespace}2#{$grid-unit-delimiter}8   { @extend .g--push-#{$namespace}1#{$grid-unit-delimiter}4; }
	.g--push-#{$namespace}3#{$grid-unit-delimiter}8   { left:37.5%; }
	.g--push-#{$namespace}4#{$grid-unit-delimiter}8   { @extend .g--push-#{$namespace}1#{$grid-unit-delimiter}2; }
	.g--push-#{$namespace}5#{$grid-unit-delimiter}8   { left:62.5%; }
	.g--push-#{$namespace}6#{$grid-unit-delimiter}8   { @extend .g--push-#{$namespace}3#{$grid-unit-delimiter}4; }
	.g--push-#{$namespace}7#{$grid-unit-delimiter}8   { left:87.5%; }


	/**
	 * Tenths
	 */
	.g--push-#{$namespace}1#{$grid-unit-delimiter}10  { left:10%; }
	.g--push-#{$namespace}2#{$grid-unit-delimiter}10  { @extend .g--push-#{$namespace}1#{$grid-unit-delimiter}5; }
	.g--push-#{$namespace}3#{$grid-unit-delimiter}10  { left:30%; }
	.g--push-#{$namespace}4#{$grid-unit-delimiter}10  { @extend .g--push-#{$namespace}2#{$grid-unit-delimiter}5; }
	.g--push-#{$namespace}5#{$grid-unit-delimiter}10  { @extend .g--push-#{$namespace}1#{$grid-unit-delimiter}2; }
	.g--push-#{$namespace}6#{$grid-unit-delimiter}10  { @extend .g--push-#{$namespace}3#{$grid-unit-delimiter}5; }
	.g--push-#{$namespace}7#{$grid-unit-delimiter}10  { left:70%; }
	.g--push-#{$namespace}8#{$grid-unit-delimiter}10  { @extend .g--push-#{$namespace}4#{$grid-unit-delimiter}5; }
	.g--push-#{$namespace}9#{$grid-unit-delimiter}10  { left:90%; }


	/**
	 * Twelfths
	 */
	.g--push-#{$namespace}1#{$grid-unit-delimiter}12  { left:8.333%; }
	.g--push-#{$namespace}2#{$grid-unit-delimiter}12  { @extend .g--push-#{$namespace}1#{$grid-unit-delimiter}6; }
	.g--push-#{$namespace}3#{$grid-unit-delimiter}12  { @extend .g--push-#{$namespace}1#{$grid-unit-delimiter}4; }
	.g--push-#{$namespace}4#{$grid-unit-delimiter}12  { @extend .g--push-#{$namespace}1#{$grid-unit-delimiter}3; }
	.g--push-#{$namespace}5#{$grid-unit-delimiter}12  { left:41.666% }
	.g--push-#{$namespace}6#{$grid-unit-delimiter}12  { @extend .g--push-#{$namespace}1#{$grid-unit-delimiter}2; }
	.g--push-#{$namespace}7#{$grid-unit-delimiter}12  { left:58.333%; }
	.g--push-#{$namespace}8#{$grid-unit-delimiter}12  { @extend .g--push-#{$namespace}2#{$grid-unit-delimiter}3; }
	.g--push-#{$namespace}9#{$grid-unit-delimiter}12  { @extend .g--push-#{$namespace}3#{$grid-unit-delimiter}4; }
	.g--push-#{$namespace}10#{$grid-unit-delimiter}12 { @extend .g--push-#{$namespace}5#{$grid-unit-delimiter}6; }
	.g--push-#{$namespace}11#{$grid-unit-delimiter}12 { left:91.666%; }
}

@if $push {

@include push-setup();

/**
 * Not a particularly great selector, but the DRYest way to do things.
 */
[class*="g--push-"]{ position:relative; }

@if $palm-push == true{
	@include media-query(palm){
		@include push-setup("palm-");
	}
}

@if $lap-push == true{
	@include media-query(lap){
		@include push-setup("lap-");
	}
}

@if $lap-and-up-push == true{
	@include media-query(lap-and-up){
		@include push-setup("lap-and-up-");
	}
}

@if $portable-push == true{
	@include media-query(portable){
		@include push-setup("portable-");
	}
}

@if $desk-push == true{
	@include media-query(desk){
		@include push-setup("desk-");
	}
}

}//endif
