/*------------------------------------*\
    $TYPOGRAPHIC LINK STATES MIXIN
\*------------------------------------*/
@mixin fc--link-states($base-clr, $hover-clr, $active-clr) {
  color: $base-clr;

  &:hover,
  &:focus { color: $hover-clr;}

  &:active { color: $active-clr;}
}
