@if $use-alerts == true {

/*------------------------------------*\
    $ALERTS
\*------------------------------------*/
%alert {
  @include px-and-rem(margin-bottom, $base-spacing-unit);
  @include px-and-rem(padding, $base-spacing-unit);
	border: 1px solid;

  .alert__heading {
    color: inherit;
  }

  & a {
    border-bottom-width: 1px;
    border-bottom-style: dotted;

    &:hover {
      border-bottom-style: solid;
    }

    &,
    &:hover,
    &:active {
      color: inherit;
    }
  }

  & p:last-child,
  & ul:last-child {
    margin-bottom: 0;
  }

  & .close {
    position: absolute;
    display: inline-block;
    background-color: transparent;
    font-size: 1em;
    font-weight: bold;
    color: #bbb;
    color: hsla(0, 0%, 0%, .2);
    line-height: normal;
    text-align: center;
    top: 1em;
    right: 1.5em;
    padding: .5em;
    cursor: pointer;
    border: 0;
    outline: 0;
    @include transition(150ms all ease-in-out);

    &:hover {
      color: hsla(0, 0%, 0%, .4);
    }
  }
}

}//endif
