@if $use-buttons == true {

/*------------------------------------*\
    $BUTTONS
\*------------------------------------*/
%btn-reset {
	position: relative;
	display: inline-block;
	background-image: none; // remove gradient from FF on mobile
	background-color: transparent;
	text-align: center;
	line-height: normal; // let's make all browsers match FF's !important
	vertical-align: middle;
	height: auto; // ensure heights set on inputs do not affect submit buttons
	margin: 0;
	padding: 0;
	border: 0;
	white-space: nowrap;

	&:active,
	&:focus { outline:none;}
}

%btn {
	@extend %btn-reset;
	@include transition(all 150ms ease-in);
	cursor: pointer;

	&,
	&:hover,
	&:focus { text-decoration: none;}

	&:active,
	&:focus { @include transition(0);}

	&[disabled],
	&:disabled { cursor: default;}
}

%btn_-selected {
  cursor: default;

  &:hover,
  &:active,
  &:focus {
    color: inherit;
    background-color: inherit;
  }
}

}//endif
