@if $use-grids == true {

/*------------------------------------*\
    $GRIDS
\*------------------------------------*/
/**
 * Fluid and nestable grid system, e.g.:
 *
   <div class="grid">

       <div class="grid__item  one-third">
           <p>One third grid</p>
       </div><!--

    --><div class="grid__item  two-thirds">
           <p>Two thirds grid</p>
       </div><!--

    --><div class="grid__item  one-half">
           <p>One half grid</p>
       </div><!--

    --><div class="grid__item  one-quarter">
           <p>One quarter grid</p>
       </div><!--

    --><div class="grid__item  one-quarter">
           <p>One quarter grid</p>
       </div>

   </div>
 *
 * Demo: jsfiddle.net/inuitcss/CLYUC
 *
 */


/**
 * Grid wrapper
 */
.grid {
	@include px-and-rem(margin-left, -$base-spacing-unit);
	list-style:none;
	margin-bottom:0;
}


	/**
	 * very infrequently occuring grid wrappers as children of grid wrappers.
	 */
	.grid > .grid {
		margin-left:0;
	}


	/**
	 * grid
	 */
	.grid__item {
		display:inline-block;
		width:100%;
		@include px-and-rem(padding-left, $base-spacing-unit);
		vertical-align:top;
		@if $global-border-box == false {
			@include vendor(box-sizing, border-box);
		}
	}



/**
* reversed grids
*/
.grid_-rev {
	@extend .grid;
	direction:rtl;
	text-align:right;

	> .grid__item {
		direction:ltr;
		text-align:left;
	}
}


/**
* gutterless grids have all the properties of regular grids, minus any spacing.
*/
.grid_-full {
	@extend .grid;
	margin-left:0;

	> .grid__item {
		padding-left:0;
	}
}


/**
* centered grids align grid items centrally without needing to use push or pull
* classes.
*/
.grid_-center {
	@extend .grid;
	text-align:center;

	> .grid__item {
		text-align:left;
	}
}

}//endif
