@if $use-icons == true {

/*------------------------------------*\
    $ICONS
\*------------------------------------*/

/*
 * Styling inspired by FontAwesome - http://mopo.ws/ReAOC6
 */
%icon {
  display: inline-block;
  text-decoration: inherit;

  &:before {
    font-family: $font-icon-stack;
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-decoration: inherit;
  }
}

[class*="icon-"] { @extend %icon;}

}//endif

