@mixin font-face($font-family, $font-filename, $file-path, $weight: normal, $style: normal ) {
	@font-face {
		font-family: $font-family;

		@if $use-rails {
			src: font-url('#{$file-path}/#{$font-filename}.eot');
			src: font-url('#{$file-path}/#{$font-filename}.eot?#iefix') format('embedded-opentype'),
				font-url('#{$file-path}/#{$font-filename}.woff2') format('woff2'),
				font-url('#{$file-path}/#{$font-filename}.woff') format('woff'),
				font-url('#{$file-path}/#{$font-filename}.ttf') format('truetype'),
				font-url('#{$file-path}/#{$font-filename}.svg##{$font-filename}') format('svg');
		} @else {
			src: url('#{$file-path}/#{$font-filename}.eot');
			src: url('#{$file-path}/#{$font-filename}.eot?#iefix') format('embedded-opentype'),
				url('#{$file-path}/#{$font-filename}.woff2') format('woff2'),
				url('#{$file-path}/#{$font-filename}.woff') format('woff'),
				url('#{$file-path}/#{$font-filename}.ttf') format('truetype'),
				url('#{$file-path}/#{$font-filename}.svg##{$font-filename}') format('svg');
		}

		font-weight: $weight;
		font-style: $style;
	}
}
