@mixin font-face($font-family, $file-path, $weight: normal, $style: normal ) {
  @font-face {
      font-family: $font-family;
      src: url('#{$file-path}/#{$font-alpha-filename}.eot');
      src: url('#{$file-path}/#{$font-alpha-filename}.eot?#iefix') format('embedded-opentype'),
           url('#{$file-path}/#{$font-alpha-filename}.woff') format('woff'),
           url('#{$file-path}/#{$font-alpha-filename}.ttf') format('truetype'),
           url('#{$file-path}/#{$font-alpha-filename}.svg##{$font-alpha-filename}') format('svg');
      font-weight: $weight;
      font-style: $style;
  }
}