@mixin font-face($font-family, $font-filename, $file-path, $weight: normal, $style: normal ) {
	@font-face {
			font-family: $font-family;
			src: url('#{$file-path}/#{$font-filename}.eot');
			src: url('#{$file-path}/#{$font-filename}.eot?#iefix') format('embedded-opentype'),
					 url('#{$file-path}/#{$font-filename}.woff') format('woff'),
					 url('#{$file-path}/#{$font-filename}.ttf') format('truetype'),
					 url('#{$file-path}/#{$font-filename}.svg##{$font-filename}') format('svg');
			font-weight: $weight;
			font-style: $style;
	}
}