//************************************************************************//
// Default: Webkit, spec
// Example: @include prefixer(border-radius, $radii, $o: true);
//************************************************************************//
@mixin prefixer($prop, $val,
								 $webkit: true,
										$moz: false,
										 $ms: false,
											$o: false,
									 $spec: true) {
	@if $webkit { -webkit-#{$prop}: $val; }
	@if $moz    {    -moz-#{$prop}: $val; }
	@if $ms     {     -ms-#{$prop}: $val; }
	@if $o      {      -o-#{$prop}: $val; }
	@if $spec   {         #{$prop}: $val; }
}