// fonts and paths to be declared here

$font-alpha					: "Economica-webfont";
$font-alpha-path		: "fnt/economica";
$font-alpha-filename: "Economica-Italic";
$font-alpha-stack		: $font-alpha, Arial, sans-serif;

$font-beta					: "Steelfish-webfont";
$font-beta-path			: "fnt/steelfish";
$font-beta-filename	: "steelfish-bd-it";
$font-beta-stack		: $font-beta, Arial, sans-serif;

$font-omega					: "base-icon-font";
$font-omega-path		: "fnt/base-icon-font";
$font-omega-filename: "base-icon-font";
$font-omega-stack		: $font-omega, Arial, sans-serif;