// fonts and paths to be declared here

$font-omega					: "base-icon-font";
$font-omega-path		: "fnt/base-icon-font";
$font-omega-filename: "base-icon-font";
$font-omega-stack		: $font-omega, Arial, sans-serif;