// fonts and paths to be declared here

$font-alpha					: "base-icon-font";
$font-alpha-path		: "fnt/base-icon-font/";
$font-alpha-filename: "base-icon-font";
$font-alpha-stack		: $font-alpha, Arial, sans-serif;