// units used in font-sizes, padding, margin, etc. declared here

$unit-default-px	: 14px;
$unit-default-rem	: 1rem;
$unit-default-em	: 1em;

$unit-alpha-px	: 2 * $unit-default-px;
$unit-alpha-rem	: 2rem;
$unit-alpha-em	: 2em;

$unit-beta-px	: 3 * $unit-default-px;
$unit-beta-rem: 3rem;
$unit-beta-em	: 3em;