@use "sass:math";
/*------------------------------------*\
    TABLES
\*------------------------------------*/
table { width: 100%;}

th, td {
  text-align: start;
  padding: #{math.div($spacing-scalar, 2)}rem;

  @include media-query(palm){
    padding: #{math.div($spacing-scalar, 4)}rem;
  }
}
