/*------------------------------------*\
    $ALERTS
\*------------------------------------*/
$alert-types: success, danger, error, info;

@if false {
  %alert {
    @include f8-alert;
  }

  @each $alert-type in $alert-types {
    .alert--#{$alert-type} {
      @extend %alert;
    }
  }

  .alert--success {
    color: $clr-ntrl-min;
    border-color: $clr-success-dk
  }
}
