/*------------------------------------*\
    WRAPS
\*------------------------------------*/
@use "sass:map";
/**
 * Generates classes for wraps defined in mixins/components/layout/_wraps.scss
 * e.g.

  .wrap--large { ... }
  .wrap { ... }
  .wrap--small { ... }
 */

@each $config in $wrap-base-configs {
  .wrap {
    @include wrap-base;
    max-width: map-get($config, 'width');
  }
}

@each $config in $wrap-modifier-configs {
  $name: map-get($config, 'name');
  $width: map-get($config, 'width');

  .wrap--#{$name} {
    max-width: $width;
  }
}
