/*------------------------------------*\
    $ISLAND MIXINS
\*------------------------------------*/
$island-pad: px-to-rem($spacing-scalar * $fs-base * 4);

// @mixin island--large--block-start { padding-block-start: $island-pad-large;}
// @mixin island--large--block-end { padding-block-end: $island-pad-large;}

// @mixin island--large {
//   @include island--large--block-start;
//   @include island--large--block-end;
// }

@mixin island--block-start { padding-block-start: $island-pad;}
@mixin island--block-end { padding-block-end: $island-pad;}

@mixin island {
  @include island--block-start;
  @include island--block-end;
}

// @mixin island--small--block-start { padding-block-start: $island-pad-small;}
// @mixin island--small--block-end { padding-block-end: $island-pad-small;}

// @mixin island--small {
//   @include island--small--block-start;
//   @include island--small--block-end;
// }
