/*------------------------------------*\
    WRAP MIXINS
\*------------------------------------*/
@use "sass:map";

$wrap-configs: (
  ("name": large, "width": 1200px, "type": modifier),
  ("name": base, "width": 960px, "type": base),
  ("name": small, "width": 720px, "type": modifier),
);

$wrap-base-configs: ();
$wrap-modifier-configs: ();

@each $config in $wrap-configs {
  @if map-get($config, "type") == "base" {
    $wrap-base-configs: append($wrap-base-configs, $config);
  }
}

@each $config in $wrap-configs {
  @if map-get($config, "type") == "modifier" {
    $wrap-modifier-configs: append($wrap-modifier-configs, $config);
  }
}

@mixin wrap-margin {
  margin-inline-end: auto;
  margin-inline-start: auto;
}

@mixin wrap-padding {
  padding-inline-start: 1.5rem;
  padding-inline-end: 1.5rem;
}

@mixin wrap-base {
  display: table;
  width: 100%;
  @include wrap-margin;
  @include wrap-padding;
}
