/*------------------------------------*\
    $FONTS
\*------------------------------------*/
$font-icon          : "base-icon-font";
$font-icon-path     : "fnt/base-icon-font";
$font-icon-filename : "base-icon-font";
$font-icon-stack    : $font-icon;


// Font Alpha - BASE FONT
// $font-alpha					: "[font-name]";
// $font-alpha-path		: "fnt/[path/to/font]";
// $font-alpha-filename: "[font-file-name-without-extension]";
// $font-alpha-stack		: $font-alpha, Arial, sans-serif;

// Variants of Alpha typeface
// $font-alpha-filename-i	: "[italic-font-file-name-without-extension]"; // italic
// $font-alpha-filename-b	: "[bold-font-file-name-without-extension]"; // bold
// $font-alpha-filename-bi: "[bold-italic-font-file-name-without-extension]"; // bold-italic
