@if $use-alerts == true {

/*------------------------------------*\
    $ALERTS
\*------------------------------------*/
$alert-types: success, danger, error, info;

@each $alert-type in $alert-types {
  .alert-_#{$alert-type} {
    @extend %alert;
  }
}

.alert-_success {
	color: $clr-success;
	border-color: $clr-success-ltr;
}

.alert-_danger,
.alert-_error {
	color: $clr-danger;
	border-color: $clr-danger-ltr;
}

.alert-_info {
	color: $clr-info;
	border-color: $clr-info-ltr;
}

}//endif
