/*------------------------------------*\
    $TYPOGRAPHY
\*------------------------------------*/
p { hyphens: auto;}

i { font-style: normal;}

blockquote {
	font-style: italic;
	@include px-and-rem(margin, 1.5);
	@include px-and-rem(padding, .25 1.5);
	border-left: 1px solid $base-ui-color;
}

kbd {
	font-size: 85%;
	padding: .25em .5em;
	border: 1px solid $clr-ntrl-10;
	border-radius: 2px;
	vertical-align: middle;
}






/*------------------------------------*\
    $HEADERS
\*------------------------------------*/
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  line-height: 1;
}





/*------------------------------------*\
    $MODIFIERS
\*------------------------------------*/
/**
 * font color modifiers
 */
.error { color: $clr-danger;}


/**
 * font-family modifiers
 */


/**
 * alignment modifiers
 */
%text-_left   { text-align: left;}
%text-_center { text-align: center;}
%text-_right  { text-align: right;}

// TinyMCE classes
.align_left    { @extend %text-_left;}
.align_center  { @extend %text-_center;}
.align_right   { @extend %text-_right;}

img.align_center {
  display: block;
  margin: 0 auto;
}


/**
 * case modifiers
 */
%case-_upper   { text-transform: uppercase;}
%case-_lower   { text-transform: lowercase;}
%case-_normal  { text-transform: none;}
%case-_capital { text-transform: capitalize;}


/**
 * Font weights
 */
%weight-_normal { font-weight: normal;}
%weight-_bold   { font-weight: bold;}


/**
 * vertical alignment modifiers
 */
%valign-_top    { vertical-align: top;}
%valign-_middle { vertical-align: middle;}
%valign-_bottom { vertical-align: bottom;}


/**
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden { display: none; visibility: hidden;}


/**
 * Hide content off-screen without resorting to `display:none;`, also provide
 * breakpoint specific hidden elements.
 */
.accessibility,
.visuallyhidden{
  @include accessibility;

  &.focusable:active, &.focusable:focus {
    position: static;
    clip: auto;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
 }

}
@if $responsive{
  @each $state in palm, lap, lap-and-up, portable, desk, desk-wide{
    @include media-query(#{$state}){
      .accessibility-_#{$state},
      .visuallyhidden-_#{$state}{
        @include accessibility;
     }
   }
 }
}//endif
