/*------------------------------------*\
    $PUSH
\*------------------------------------*/
/**
 * Push classes, to move grid items over to the right by certain amounts.
 */

@mixin grid__item-push-generate($namespace: "", $base-classname: $grid-wrap-item-classname) {
  /**
   * Not a particularly great selector, but the DRYest way to do things.
   */
  [class*="#{$base-classname}--push-"]{ position:relative; }

  /**
   * Whole
   */
  .#{$base-classname}--push-#{$namespace}1#{$grid-item-unit-delimiter}1   { left:100%; }


  /**
   * Halves
   */
  .#{$base-classname}--push-#{$namespace}1#{$grid-item-unit-delimiter}2   { left:50%; }


  /**
   * Thirds
   */
  .#{$base-classname}--push-#{$namespace}1#{$grid-item-unit-delimiter}3   { left:33.333%; }
  .#{$base-classname}--push-#{$namespace}2#{$grid-item-unit-delimiter}3   { left:66.666%; }


  /**
   * Quarters
   */
  .#{$base-classname}--push-#{$namespace}1#{$grid-item-unit-delimiter}4   { left:25%; }
  .#{$base-classname}--push-#{$namespace}2#{$grid-item-unit-delimiter}4   { @extend .#{$base-classname}--push-#{$namespace}1#{$grid-item-unit-delimiter}2; }
  .#{$base-classname}--push-#{$namespace}3#{$grid-item-unit-delimiter}4   { left:75%; }


  /**
   * Fifths
   */
  .#{$base-classname}--push-#{$namespace}1#{$grid-item-unit-delimiter}5   { left:20%; }
  .#{$base-classname}--push-#{$namespace}2#{$grid-item-unit-delimiter}5   { left:40%; }
  .#{$base-classname}--push-#{$namespace}3#{$grid-item-unit-delimiter}5   { left:60%; }
  .#{$base-classname}--push-#{$namespace}4#{$grid-item-unit-delimiter}5   { left:80%; }


  /**
   * Sixths
   */
  .#{$base-classname}--push-#{$namespace}1#{$grid-item-unit-delimiter}6   { left:16.666%; }
  .#{$base-classname}--push-#{$namespace}2#{$grid-item-unit-delimiter}6   { @extend .#{$base-classname}--push-#{$namespace}1#{$grid-item-unit-delimiter}3; }
  .#{$base-classname}--push-#{$namespace}3#{$grid-item-unit-delimiter}6   { @extend .#{$base-classname}--push-#{$namespace}1#{$grid-item-unit-delimiter}2; }
  .#{$base-classname}--push-#{$namespace}4#{$grid-item-unit-delimiter}6   { @extend .#{$base-classname}--push-#{$namespace}2#{$grid-item-unit-delimiter}3; }
  .#{$base-classname}--push-#{$namespace}5#{$grid-item-unit-delimiter}6   { left:83.333%; }


  /**
   * Eighths
   */
  .#{$base-classname}--push-#{$namespace}1#{$grid-item-unit-delimiter}8   { left:12.5%; }
  .#{$base-classname}--push-#{$namespace}2#{$grid-item-unit-delimiter}8   { @extend .#{$base-classname}--push-#{$namespace}1#{$grid-item-unit-delimiter}4; }
  .#{$base-classname}--push-#{$namespace}3#{$grid-item-unit-delimiter}8   { left:37.5%; }
  .#{$base-classname}--push-#{$namespace}4#{$grid-item-unit-delimiter}8   { @extend .#{$base-classname}--push-#{$namespace}1#{$grid-item-unit-delimiter}2; }
  .#{$base-classname}--push-#{$namespace}5#{$grid-item-unit-delimiter}8   { left:62.5%; }
  .#{$base-classname}--push-#{$namespace}6#{$grid-item-unit-delimiter}8   { @extend .#{$base-classname}--push-#{$namespace}3#{$grid-item-unit-delimiter}4; }
  .#{$base-classname}--push-#{$namespace}7#{$grid-item-unit-delimiter}8   { left:87.5%; }


  /**
   * Tenths
   */
  .#{$base-classname}--push-#{$namespace}1#{$grid-item-unit-delimiter}10  { left:10%; }
  .#{$base-classname}--push-#{$namespace}2#{$grid-item-unit-delimiter}10  { @extend .#{$base-classname}--push-#{$namespace}1#{$grid-item-unit-delimiter}5; }
  .#{$base-classname}--push-#{$namespace}3#{$grid-item-unit-delimiter}10  { left:30%; }
  .#{$base-classname}--push-#{$namespace}4#{$grid-item-unit-delimiter}10  { @extend .#{$base-classname}--push-#{$namespace}2#{$grid-item-unit-delimiter}5; }
  .#{$base-classname}--push-#{$namespace}5#{$grid-item-unit-delimiter}10  { @extend .#{$base-classname}--push-#{$namespace}1#{$grid-item-unit-delimiter}2; }
  .#{$base-classname}--push-#{$namespace}6#{$grid-item-unit-delimiter}10  { @extend .#{$base-classname}--push-#{$namespace}3#{$grid-item-unit-delimiter}5; }
  .#{$base-classname}--push-#{$namespace}7#{$grid-item-unit-delimiter}10  { left:70%; }
  .#{$base-classname}--push-#{$namespace}8#{$grid-item-unit-delimiter}10  { @extend .#{$base-classname}--push-#{$namespace}4#{$grid-item-unit-delimiter}5; }
  .#{$base-classname}--push-#{$namespace}9#{$grid-item-unit-delimiter}10  { left:90%; }


  /**
   * Twelfths
   */
  .#{$base-classname}--push-#{$namespace}1#{$grid-item-unit-delimiter}12  { left:8.333%; }
  .#{$base-classname}--push-#{$namespace}2#{$grid-item-unit-delimiter}12  { @extend .#{$base-classname}--push-#{$namespace}1#{$grid-item-unit-delimiter}6; }
  .#{$base-classname}--push-#{$namespace}3#{$grid-item-unit-delimiter}12  { @extend .#{$base-classname}--push-#{$namespace}1#{$grid-item-unit-delimiter}4; }
  .#{$base-classname}--push-#{$namespace}4#{$grid-item-unit-delimiter}12  { @extend .#{$base-classname}--push-#{$namespace}1#{$grid-item-unit-delimiter}3; }
  .#{$base-classname}--push-#{$namespace}5#{$grid-item-unit-delimiter}12  { left:41.666% }
  .#{$base-classname}--push-#{$namespace}6#{$grid-item-unit-delimiter}12  { @extend .#{$base-classname}--push-#{$namespace}1#{$grid-item-unit-delimiter}2; }
  .#{$base-classname}--push-#{$namespace}7#{$grid-item-unit-delimiter}12  { left:58.333%; }
  .#{$base-classname}--push-#{$namespace}8#{$grid-item-unit-delimiter}12  { @extend .#{$base-classname}--push-#{$namespace}2#{$grid-item-unit-delimiter}3; }
  .#{$base-classname}--push-#{$namespace}9#{$grid-item-unit-delimiter}12  { @extend .#{$base-classname}--push-#{$namespace}3#{$grid-item-unit-delimiter}4; }
  .#{$base-classname}--push-#{$namespace}10#{$grid-item-unit-delimiter}12 { @extend .#{$base-classname}--push-#{$namespace}5#{$grid-item-unit-delimiter}6; }
  .#{$base-classname}--push-#{$namespace}11#{$grid-item-unit-delimiter}12 { left:91.666%; }
}

@mixin grid__item-push-global {
  @include grid__item-push-generate();
}

@mixin grid__item-push-palm {
  @include media-query(palm) {
    @include grid__item-push-generate("palm-");
  }
}

@mixin grid__item-push-lap {
  @include media-query(lap) {
    @include grid__item-push-generate("lap-");
  }
}

@mixin grid__item-push-lap-and-up {
  @include media-query(lap-and-up) {
    @include grid__item-push-generate("lap-and-up-");
  }
}

@mixin grid__item-push-portable {
  @include media-query(portable) {
    @include grid__item-push-generate("portable-");
  }
}

@mixin grid__item-push-desk {
  @include media-query(desk) {
    @include grid__item-push-generate("desk-");
  }
}

@mixin grid__item-push-desk-wide {
  @include media-query(desk-wide) {
    @include grid__item-push-generate("desk-wide-");
  }
}
