/*
Unordered Lists

Markup:
<ul>
  <li>item 1</li>
  <li>item 2</li>
  <li>
    item 3
    <ul>
      <li>item 1</li>
      <li>item 2</li>
      <li>
        item 3
        <ul>
          <li>item 1</li>
          <li>item 2</li>
          <li>item 3</li>
          <li>item 4</li>
        </ul>
      </li>
      <li>item 4</li>
    </ul>
  </li>
  <li>
    item 4
  </li>
</ul>

Styleguide 4.1
 */