@if $use-alerts {

/*------------------------------------*\
    $ALERTS
\*------------------------------------*/
%alert {
  border: 1px solid;
  @include px-and-rem(padding, $base-spacing-unit);

  .alert__heading { color: inherit;}

  & a {
    border-bottom-style: dotted;
    border-bottom-width: 1px;

    &:hover,
    &:focus { border-bottom-style: solid;}

    &,
    &:hover,
    &:focus,
    &:active { color: inherit;}
  }

  & p:last-child,
  & ul:last-child { margin-bottom: 0;}
}

  .alert__close {
    background-color: transparent;
    background-image: none;
    border: 0;
    color: hsla(0, 0%, 0%, .2);
    cursor: pointer;
    display: inline-block;
    font-size: 1em;
    font-weight: bold;
    line-height: normal;
    outline: 0;
    padding: .5em;
    position: absolute;
    right: 1.5em;
    text-align: center;
    top: 1em;
    transition: .15s ease-in-out;

    &:hover,
    &:focus { color: hsla(0, 0%, 0%, .4);}
  }
}//endif
