@if $use-icon-as-font {

/*------------------------------------*\
    $ICONS
\*------------------------------------*/

/*
 * Styling inspired by FontAwesome - http://mopo.ws/ReAOC6
 */
%font-icon {
  display: inline-block;
  text-decoration: inherit;

  &:before {
    font-family: $font-icon-stack;
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-decoration: inherit;
  }
}

}//endif

