@if $use-icon-as-inline-svg {

/*------------------------------------*\
    $ICONS
\*------------------------------------*/

/*
 * inline svg icons
 */
%inline-svg-icon {
  color: currentColor;
  display: inline-block;
  fill: currentColor;
  height: 1em;
  width: 1em;
}

}//endif

