/*------------------------------------*\
    $MEDIA
\*------------------------------------*/
@mixin f8-media-object {
  display: block;
  @include clearfix;
}

    @mixin f8-media-object__img {
      float: left;
      margin-right: px-to-rem($base-spacing-unit);

      & img { display: block;}
    }

    /**
     * Reversed image location (right instead of left).
     */
    @mixin f8-media-object__img--rev {
      @include f8-media-object__img;
      float: right;
      margin-left: px-to-rem($base-spacing-unit);
    }

    @mixin f8-media-object__body {
      display: block;
      overflow: hidden;

      &, & > :last-child { margin-bottom: 0;}
    }
