@if $use-progress-bars == true {

/*------------------------------------*\
    $PROGRESS BARS
\*------------------------------------*/
.progress {
  background-color: #f9f9f9;
	height: $base-spacing-unit;
  overflow: hidden;
	@include px-and-rem(margin-bottom, $base-spacing-unit);
}

  .progress__bar {
    background-color: $clr-primary;
    box-sizing: border-box;
    text-align: center;
    transition: width .6s ease;
    width: 0;
    @include px-and-rem(height, $base-spacing-unit);
  }

  .progress--anim > .progress__bar {
    animation: progress-bar-stripes 2s linear infinite;
  }

  .progress__bar--striped {
    background-color: $clr-primary;
    background-image: linear-gradient(
                        -45deg,
                        hsla(0, 0%, 100%, .15) 25%,
                        transparent 25%,
                        transparent 50%,
                        hsla(0, 0%, 100%, .15) 50%,
                        hsla(0, 0%, 100%, .15) 75%,
                        transparent 75%,
                        transparent
    );

    background-size: 40px 40px;
  }

@keyframes progress-bar-stripes {
	0% { background-position: 40px 0;}
	100% { background-position: 0 0;}
}

}//endif
