/*------------------------------------*\
    $VERTICAL CENTER OBJECT
\*------------------------------------*/
/**
 * An object which will vertically center its contents.
 *
 * http://www.hughlashbrooke.com/two-methods-for-vertical-centering-in-css/
 */
@mixin f8-vertical-center {
	display: table;
	width: 100%;
	height: 100%; // can be any value
}

  @mixin f8-vertical-center__inner {
		display: table-cell;
		vertical-align: middle;
  }
