/*------------------------------------*\
    $ANGULAR ANIMATIONS
\*------------------------------------*/
%ngAnim-fade-in--from-top {
	@extend %link-transition;
	@include transform(translate3d(0,0,0));

	// ngIf
	&.ng-enter,
	&.ng-leave.ng-leave-active,
	// ngShow / ngHide
	&.ng-hide-remove,
	&.ng-hide-add.ng-hide-add-active
	{
		margin-top: -1em;
		opacity: 0;
	}

	// ngIf
	&.ng-leave,
	&.ng-enter.ng-enter-active,
	// ngShow / ngHide
	&.ng-hide-add,
	&.ng-hide-remove-active
	{
		margin-top: 0;
		opacity: 1;
	}
}
span%ngAnim-fade-in--from-top {
	@extend %ngAnim-fade-in--from-top;
	@extend %link-transition;
  display: inline-block;

	// ngIf
	&.ng-enter,
	&.ng-leave.ng-leave-active,
	// ngShow / ngHide
	&.ng-hide-remove,
	&.ng-hide-add.ng-hide-add-active
	{
		@include transform(translate3d(0,-1em,0));
		margin-top: 0;
	}

	// ngIf
	&.ng-leave,
	&.ng-enter.ng-enter-active,
	// ngShow / ngHide
	&.ng-hide-add,
	&.ng-hide-remove-active
	{ @include transform(translate3d(0,0,0));}
}
.ngAnim-fade-in--from-top { @extend %ngAnim-fade-in--from-top;}


/**
 * slide-in from left
 */
%ngAnim-slide-in--from-left {
	@include transition(all 300ms ease-in-out);

	// ngIf
	&.ng-enter,
	&.ng-leave.ng-leave-active,
	// ngShow / ngHide
	&.ng-hide-remove,
	&.ng-hide-add.ng-hide-add-active
	{
		@include transform(translate3d(-100%, 0, 0));
		.ie9 & { -ms-transform: translateX(-100%);}
	}

	// ngIf
	&.ng-leave,
	&.ng-enter-active,
	// ngShow / ngHide
	&.ng-hide-add,
	&.ng-hide-remove-active
	{
		@include transform(translate3d(0, 0, 0));
		.ie9 & { -ms-transform: translateX(0);}
	}
}
span%ngAnim-slide-in--from-left { display: inline-block;}
.ngAnim-slide-in--from-left { @extend %ngAnim-slide-in--from-left;}


/**
 * collapse height
 */
%ngAnim-collapse-height {
	@extend %link-transition;
	@include transform(translate3d(0,0,0));
	overflow: hidden;

	// ngIf
	&.ng-enter,
	&.ng-leave.ng-leave-active,
	// ngShow / ngHide
	&.ng-hide-remove,
	&.ng-hide-add.ng-hide-add-active
	{
		max-height: 0;
		opacity: 0;
    padding-bottom: 0;
    padding-top: 0;
	}

	// ngIf
	&.ng-leave,
	&.ng-enter-active,
	// ngShow / ngHide
	&.ng-hide-add,
	&.ng-hide-remove-active
	{
		max-height: 10em;
		opacity: 1;
	}
}
.ngAnim-collapse-height { @extend %ngAnim-collapse-height;}
