/*------------------------------------*\
    $MARGIN AND PADDING
\*------------------------------------*/
$marpad-larger: px-to-rem($spacing-scalar * $fs-base * 1.5);
$marpad-large: px-to-rem($spacing-scalar * $fs-base * 1.25);
$marpad-base: px-to-rem($spacing-scalar * $fs-base);
$marpad-small: px-to-rem($spacing-scalar * $fs-base * .75);
$marpad-smaller: px-to-rem($spacing-scalar * $fs-base * .5);





/*------------------------------------*\
    $MARGIN
\*------------------------------------*/
@mixin u-margin--larger               { margin: $marpad-larger;}
@mixin u-margin--larger--block-start  { margin-block-start: $marpad-larger;}
@mixin u-margin--larger--inline-end   { margin-inline-end: $marpad-larger;}
@mixin u-margin--larger--block-end    { margin-block-end: $marpad-larger;}
@mixin u-margin--larger--inline-start { margin-inline-start: $marpad-larger;}
@mixin u-margin--larger--block        { margin-block-start: $marpad-larger; margin-block-end: $marpad-larger;}
@mixin u-margin--larger--inline       { margin-inline-end: $marpad-larger; margin-inline-start: $marpad-larger;}

@mixin u-margin--large               { margin: $marpad-large;}
@mixin u-margin--large--block-start  { margin-block-start: $marpad-large;}
@mixin u-margin--large--inline-end   { margin-inline-end: $marpad-large;}
@mixin u-margin--large--block-end    { margin-block-end: $marpad-large;}
@mixin u-margin--large--inline-start { margin-inline-start: $marpad-large;}
@mixin u-margin--large--block        { margin-block-start: $marpad-large; margin-block-end: $marpad-large;}
@mixin u-margin--large--inline       { margin-inline-end: $marpad-large; margin-inline-start: $marpad-large;}

@mixin u-margin               { margin: $marpad-base;}
@mixin u-margin--block-start  { margin-block-start: $marpad-base;}
@mixin u-margin--inline-end   { margin-inline-end: $marpad-base;}
@mixin u-margin--block-end    { margin-block-end: $marpad-base;}
@mixin u-margin--inline-start { margin-inline-start: $marpad-base;}
@mixin u-margin--block        { margin-block-start: $marpad-base; margin-block-end: $marpad-base;}
@mixin u-margin--inline       { margin-inline-end: $marpad-base; margin-inline-start: $marpad-base;}

@mixin u-margin--small               { margin: $marpad-small;}
@mixin u-margin--small--block-start  { margin-block-start: $marpad-small;}
@mixin u-margin--small--inline-end   { margin-inline-end: $marpad-small;}
@mixin u-margin--small--block-end    { margin-block-end: $marpad-small;}
@mixin u-margin--small--inline-start { margin-inline-start: $marpad-small;}
@mixin u-margin--small--block        { margin-block-start: $marpad-small; margin-block-end: $marpad-small;}
@mixin u-margin--small--inline       { margin-inline-end: $marpad-small; margin-inline-start: $marpad-small;}

@mixin u-margin--smaller               { margin: $marpad-smaller;}
@mixin u-margin--smaller--block-start  { margin-block-start: $marpad-smaller;}
@mixin u-margin--smaller--inline-end   { margin-inline-end: $marpad-smaller;}
@mixin u-margin--smaller--block-end    { margin-block-end: $marpad-smaller;}
@mixin u-margin--smaller--inline-start { margin-inline-start: $marpad-smaller;}
@mixin u-margin--smaller--block        { margin-block-start: $marpad-smaller; margin-block-end: $marpad-smaller;}
@mixin u-margin--smaller--inline       { margin-inline-end: $marpad-smaller; margin-inline-start: $marpad-smaller;}

@mixin u-margin--none               { margin: 0;}
@mixin u-margin--none--block-start  { margin-block-start: 0;}
@mixin u-margin--none--inline-end   { margin-inline-end: 0;}
@mixin u-margin--none--block-end    { margin-block-end: 0;}
@mixin u-margin--none--inline-start { margin-inline-start: 0;}
@mixin u-margin--none--block        { margin-block-start: 0; margin-block-end:0;}
@mixin u-margin--none--inline       { margin-inline-end: 0; margin-inline-start:  0;}






/*------------------------------------*\
    $PADDING
\*------------------------------------*/
@mixin u-padding--larger               { padding: $marpad-larger;}
@mixin u-padding--larger--block-start  { padding-block-start: $marpad-larger;}
@mixin u-padding--larger--inline-end   { padding-inline-end: $marpad-larger;}
@mixin u-padding--larger--block-end    { padding-block-end: $marpad-larger;}
@mixin u-padding--larger--inline-start { padding-inline-start: $marpad-larger;}
@mixin u-padding--larger--block        { padding-block-start: $marpad-larger; padding-block-end: $marpad-larger;}
@mixin u-padding--larger--inline       { padding-inline-end: $marpad-larger; padding-inline-start: $marpad-larger;}

@mixin u-padding--large               { padding: $marpad-large;}
@mixin u-padding--large--block-start  { padding-block-start: $marpad-large;}
@mixin u-padding--large--inline-end   { padding-inline-end: $marpad-large;}
@mixin u-padding--large--block-end    { padding-block-end: $marpad-large;}
@mixin u-padding--large--inline-start { padding-inline-start: $marpad-large;}
@mixin u-padding--large--block        { padding-block-start: $marpad-large; padding-block-end: $marpad-large;}
@mixin u-padding--large--inline       { padding-inline-end: $marpad-large; padding-inline-start: $marpad-large;}

@mixin u-padding               { padding: $marpad-base;}
@mixin u-padding--block-start  { padding-block-start: $marpad-base;}
@mixin u-padding--inline-end   { padding-inline-end: $marpad-base;}
@mixin u-padding--block-end    { padding-block-end: $marpad-base;}
@mixin u-padding--inline-start { padding-inline-start: $marpad-base;}
@mixin u-padding--block        { padding-block-start: $marpad-base; padding-block-end: $marpad-base;}
@mixin u-padding--inline       { padding-inline-end: $marpad-base; padding-inline-start: $marpad-base;}

@mixin u-padding--small               { padding: $marpad-small;}
@mixin u-padding--small--block-start  { padding-block-start: $marpad-small;}
@mixin u-padding--small--inline-end   { padding-inline-end: $marpad-small;}
@mixin u-padding--small--block-end    { padding-block-end: $marpad-small;}
@mixin u-padding--small--inline-start { padding-inline-start: $marpad-small;}
@mixin u-padding--small--block        { padding-block-start: $marpad-small; padding-block-end: $marpad-small;}
@mixin u-padding--small--inline       { padding-inline-end: $marpad-small; padding-inline-start: $marpad-small;}

@mixin u-padding--smaller               { padding: $marpad-smaller;}
@mixin u-padding--smaller--block-start  { padding-block-start: $marpad-smaller;}
@mixin u-padding--smaller--inline-end   { padding-inline-end: $marpad-smaller;}
@mixin u-padding--smaller--block-end    { padding-block-end: $marpad-smaller;}
@mixin u-padding--smaller--inline-start { padding-inline-start: $marpad-smaller;}
@mixin u-padding--smaller--block        { padding-block-start: $marpad-smaller; padding-block-end: $marpad-smaller;}
@mixin u-padding--smaller--inline       { padding-inline-end: $marpad-smaller; padding-inline-start: $marpad-smaller;}

@mixin u-padding--none               { padding:       0;}
@mixin u-padding--none--block-start  { padding-block-start:   0;}
@mixin u-padding--none--inline-end   { padding-inline-end: 0;}
@mixin u-padding--none--block-end    { padding-block-end:0;}
@mixin u-padding--none--inline-start { padding-inline-start:  0;}
@mixin u-padding--none--block        { padding-block-start:   0; padding-block-end:0;}
@mixin u-padding--none--inline       { padding-inline-end: 0; padding-inline-start:  0;}
