/*------------------------------------*\
    FONT SIZE VARIABLES
\*------------------------------------*/

/*------------------------------------*\
    FONT SIZES
\*------------------------------------*/
 $fs-base: 16px;

$fs-giga:  96px;
$fs-mega:  72px;
$fs-kilo:  48px;

$fs-h1:    36px;
$fs-h2:    30px;
$fs-h3:    24px;
$fs-h4:    20px;
$fs-h5:    16px;
$fs-h6:    14px;

$fs-milli: 12px;
$fs-micro: 10px;
$fs-nano:   8px;
